{% extends "base.html" %}
{% block content %}

<h2 class="py-2"><i class="bi bi-receipt"></i> Seznam Transakcí</h2>
    <div class="hr-container">
    <hr class="hr-main">
    <hr class="hr-secondary">
</div>

<h6 class="py-3">Seznam všech transkací</h6>


<h4 class="py-2"><i class="bi bi-cash"></i> Příjmy</h4>
      <div class="hr-container">
    <hr class="hr-main">
    <hr class="hr-secondary">
</div>
{% if no_incomes %}
    <p class="py-3">Žádné příjmy</p>
{% else %}
<table class="table mt-4">
    <thead>
        <tr>
            <th>Částka</th>
            <th>Datum</th>
            <th>Akce</th>

        </tr>
    </thead>
    <tbody>
        {% for item in incomes %}

            <td>{{ item.amount|floatformat:0 }} Kč</td>
            <td>{{ item.date|date:"d.m.Y" }}</td>
            <td><a class="btn darkbtn" href='{% url 'edit_income' item.id  %}'><i class="bi bi-pen"></i></a>
            <a class="btn dangerbtn" href='{% url 'delete_income' item.id  %}'><i class="bi bi-trash"></i></a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h4 class="py-2"><i class="bi bi-cash-coin"></i> Výdaje</h4>
      <div class="hr-container">
    <hr class="hr-main">
    <hr class="hr-secondary">

    {% if no_outcomes %}
    <p class="py-3">Žádné výdaje</p>
{% else %}
<table class="table mt-4">
    <thead>
        <tr>

            <th>Částka</th>
            <th>Datum</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {% for item in outcomes %}
        <tr>
s
            <td>{{ item.amount|floatformat:0 }} Kč</td>
            <td>{{ item.date|date:"d.m.Y" }}</td>
            <td><a class="btn darkbtn" href='{% url 'edit_outcome' item.id  %}'><i class="bi bi-pen"></i></a>
            <a class="btn dangerbtn" href='{% url 'delete_outcome' item.id  %}'><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
